// Fonts are below
$aspekta_font: "Aspekta";

// Colors are below
$clr_white: #ffffff;
$clr_black: #000000;
$clr_111111: #111111;
$clr_015B6D: #015B6D;
$clr_0B1725: #0B1725;
$clr_EAFF80: #EAFF80;
$clr_333333: #333333;
$clr_024350: #024350;
$clr_FAFBF7: #FAFBF7;
$clr_33A1B7: #33A1B7;
$clr_F9F9F7: #F9F9F7;
$clr_D9D9D9: #D9D9D9;
$clr_1a1a1a: #1a1a1a;