$clr_D7F4F1: #D7F4F1;
$clr_202F79: #202F79;
$clr_4D5994: #4D5994;
$clr_FFF2E7: #FFF2E7;
$clr_212121: #212121;
$white_clr: #ffffff;
$clr_EB823E: #EB823E;
$clr_29DAC4: #29DAC4;
$font_Sofia_Pro: 'Poppins, sans-serif';
$font_Filson_Pro: 'Poppins, sans-serif';
$dark_pink: #E991BD;
$black: #333333;
$purple: #202f79;
$light_purple: #4d5994;
$pink: #ffe9f4;
$blue: #0087d5;
$white: #ffffff;
$font-family_sofia: 'Poppins, sans-serif';
$font-family_Filson: 'Poppins, sans-serif';