div#page-protected-the-boring-office {
  padding: 100px 12px;
  display: flex;
  justify-content: center;
}

form.post-password-form {
  width: 50%;
  border: 1px solid var(--comn_dark_blue);
  padding: 40px;
  border-radius: 10px;
  background-color: var(--comn_dark_blue);
}

form.post-password-form p {
  font-size: 18px;
  color: var(--comn_white_color);
  font-weight: 600;
}
form.post-password-form p:nth-of-type(2) {
  margin-bottom: 20px;
}
form.post-password-form p:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}
form.post-password-form p:nth-of-type(3) input[type="submit"] {
  background-color: var(--comn_light_blue);
  color: var(--comn_dark_blue);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
}
form.post-password-form p:nth-of-type(3) label input {
  margin-top: 5px;
}

@media only screen and (max-width: 992px) {
  form.post-password-form {
    width: 95%;
    padding: 20px 30px;
  }
}
@media only screen and (max-width: 575.98px) {
  form.post-password-form p,
  form.post-password-form p:nth-of-type(3) input[type="submit"] {
    font-size: 16px;
  }
}
