// Fonts are below
$dm_sans_font: "DM Sans",
sans-serif;
// Colors are below
$clr_white: #ffffff;
$clr_black: #000000;
$clr_183B56: #183B56;
$clr_0075FF: #0075FF;
$clr_5A7184: #5A7184;
$clr_F4F6F7: #F4F6F7;
$clr_F3F3F3: #F3F3F3;
$clr_EEE: #EEE;
$clr_202225: #202225;
$clr_82909D: #82909D;
$clr_757185: #757185;
