// Fonts are below
$ins_sans_font: "Instrument Sans", sans-serif,
sans-serif;
// Colors are below
$clr_white: #ffffff;
$clr_black: #000000;
$clr_B2CB23: #B2CB23;
$clr_3B3B3B: #3B3B3B;
$clr_2d2d2e: #2D2D2E;
$clr_c6d862: #C6D862;
$clr_e3ebc3: #E3EBC3;
$clr_f3f6f0: #F3F6F0;
