// Fonts are below
$barlow_font: "Barlow";
$work_sans_font: "Work Sans";

// Colors are below
$clr_white: #ffffff;
$clr_black: #000000;
$clr_f54f01: #f54f01;
$clr_0f0000: #0f0000;
$clr_7f7f7f: #7f7f7f;
$clr_202020: #202020;
$clr_0d0d0d: #0d0d0d;
$clr_585858: #585858;
$clr_f5f5f5: #f5f5f5;
$clr_555555: #555555;
$clr_1a1a1a: #1a1a1a;
$clr_969696: #969696;
$clr_e8eaf0: #e8eaf0;
$clr_3b3b3b: #3b3b3b;
